<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Card</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="{{url_for('static', filename='style.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
      <!-- 배경 음악 -->
        <audio id="audio_id" loop>
            <source src="/static/jingle Bell.wav" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
      <div class="card">
        <div class="card-page cart-page-front">
            <div class="card-page cart-page-outside"></div>
            <div class="card-page cart-page-inside">
              <span class="merry-christmas">
                <p>Merry Christmas</p>
              </span>
            </div>
        </div>
        <div class="card-page cart-page-bottom">
          <p>
            <div id="letter" style="color: #fff; opacity: 0.9;" data-message1="{{ message1 }}" data-message2="{{ message2 }}" data-message3="{{ message3 }}">
                <h1><span id="typing-text1" ></span></h1>
                <h1><span id="typing-text2" ></span></h1>
                <h1><span id="typing-text3"></span></h1>
              </div>
          </p>
        </div>
      </div>
      <span class="click-icon">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M31.6 17.7V26c0 1.9-.7 3.7-2 5.1v.9c0 1.6-1.3 3-3 3h-8.4c-1.6 0-3-1.3-3-3 0-.6.5-1 1-1s1 .4 1 1c0 .5.4 1 1 1h8.4c.5 0 1-.4 1-1v-1.2-.3-.1c0-.1.1-.2.2-.3 1.1-1.1 1.7-2.5 1.7-4v-8.3c0-.3-.1-.5-.3-.7-.1-.1-.5-.4-1-.3-.4.1-.8.6-.8 1.1v2.4c0 .6-.5 1-1 1s-1-.4-1-1v-5.5c0-.3-.1-.5-.3-.7s-.4-.3-.7-.3c-.5 0-1 .5-1 1v5.5c0 .6-.5 1-1 1s-1-.4-1-1v-8.5c0-.3-.1-.5-.3-.7s-.4-.3-.7-.3c-.5 0-1 .5-1 1v8.5c0 .6-.5 1-1 1s-1-.4-1-1V7.7c0-.3-.1-.5-.3-.7-.1-.1-.5-.4-1-.3-.4.1-.8.6-.8 1.1V20c0 .4-.2.8-.6.9-.4.2-.8.1-1.1-.2L11 18.1c-.6-.6-1.6-.6-2.2.1-.5.6-.4 1.5.2 2.1l7 7c.4.4.4 1 0 1.4-.2.2-.5.3-.7.3-.3 0-.5-.1-.7-.3l-7-7.1c-1.3-1.3-1.5-3.5-.3-4.8C8 16 9 15.5 10 15.5c.9 0 1.8.4 2.5 1l.9.9V7.9c0-1.4.9-2.7 2.3-3 1-.3 2.1 0 2.8.8.6.6.9 1.3.9 2.1V9c.3-.1.7-.2 1-.2.8 0 1.5.3 2.1.9s.9 1.3.9 2.1v.2c.3-.1.7-.2 1-.2.8 0 1.5.3 2.1.9s.9 1.3.9 2.1v.2c.1 0 .2-.1.3-.1 1-.3 2.1 0 2.8.8.8.5 1.1 1.3 1.1 2z"/></svg>
      </span>
    <div id="snow">
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">.</div>
        <div class="snowflake">＊</div>
        <div class="snowflake">○</div>
        <div class="snowflake">♡</div>
        <!-- 여러 개의 눈송이 요소를 추가 -->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var snowflakes = document.querySelectorAll('.snowflake');
            $("#snow").css('opacity','0.8');
            make_snow();
            setInterval(make_snow, 10000);
            function make_snow() {
                for (var i = 0; i < snowflakes.length; i++) {
                    snowflakes[i].style.left = Math.random() * 90 + '%';
                    snowflakes[i].style.opacity = Math.random(); // 투명도를 랜덤하게 조절
                    snowflakes[i].style.animationDuration = Math.random() * 3 + 2 + 's';
                    snowflakes[i].style.animationDelay = Math.random() * 5 + 's';
                    snowflakes[i].style.fontSize = Math.random() * 20 + 10 + 'px'; // 크기를 랜덤하게 조절
                }
            }
        });
    </script>
</body>
</html>
